<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>Register</title>
</head>

<body class="<%= theme %>">
  <div class="container">
    <h1>Register</h1>
    <% if (error && error.length> 0) { %>
      <div class="error-message">
        <%= error[0] %>
      </div>
      <% } %>
        <form action="/register" method="post">
          <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" required>
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
          <div>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
          </div>
          <button type="submit">Register</button>
        </form>
        <button onclick="goBack()">back</button>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>